@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #171717;
}

h1,h2,h3,h3,h5{
    color: white
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.shadow-success {
  box-shadow: 0 4px 6px rgba(72, 187, 120, 0.4);
}

.shadow-error {
  box-shadow: 0 4px 6px rgba(245, 101, 101, 0.4);
}
  